# Node.js
**/node_modules/
node_modules/
npm-debug.log

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/

# Java
target/
*.class
out
build

# React or Vue.js
/dist/

# Visual Studio Code
.vscode/

# macOS
.DS_Store

# Linux
Thumbs.db
